@model Tuple<List<MyFrameCore.Model.sys_menu>, List<MyFrameCore.Model.sys_menu>>
@{
    var MenuTypeList = Model.Item2.Where(item => string.IsNullOrEmpty(item.NavigateUrl)).ToList();
    var TempList = new List<MyFrameCore.Model.sys_menu>();
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>我的框架</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="wcodeth=device-wcodeth, initial-scale=1, maximum-scale=1">
    <link href="~/Content/jeui/css/admin.css" rel="stylesheet" />
    <link href="~/Content/jeui/css/jeui.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/font-awesome.css" rel="stylesheet" />
</head>
<body>
    <div jepane="top" class="je-admin-top">
        <div class="je-admin-logo je-tc je-fl je-white" title="JEUI"></div>
        <div class="shrink je-fl je-white je-icon je-f28 je-mr10">&#xe626;</div>
        <div class="je-admin-navs je-fl">
            <ul class="je-ovh je-dib" id="myTabNav">
                @for (int i = 0; i < Model.Item1.Count; i++)
                {
                    <li @(i == 0 ? "class=curr" : "") id="@Model.Item1[i].KeyId"><p class="pTopMenu"><i class="@(string.IsNullOrEmpty(Model.Item1[i].Icon) ? "aweicon aweicon-connectdevelop" : Model.Item1[i].Icon)"></i></p><p>@Model.Item1[i].FullName</p></li>
                }
            </ul>
        </div>
        <div class="je-admin-user je-fr">
            <span class="photo je-fl"><img src="@(ViewBag.LoginImg = ViewBag.LoginImg ?? "/Content/jeui/images/photo2.jpg")"></span>
            <table class="tabTopExit">
                <tr>
                    <td class="tabTopExit_td1">@(ViewBag.LoginName),欢迎您使用平台</td>
                    <td class="tabTopExit_td2"><a href="/Admin/Login">退出账户</a></td>
                </tr>
            </table>
        </div>
    </div>
    <div jepane="left" class="je-admin-left">
        <ul class="je-admin-menu" id="myTabNav2">
            @foreach (var item in MenuTypeList)
            {
                <li class="level" pid="@item.ParentId">
                    <h3><em class="ico"></em>@item.FullName<i></i></h3>
                    @{TempList = Model.Item2.Where(x => x.ParentId == item.KeyId).ToList();}
                    <ul class="levelnext">
                        @foreach (var nav in TempList)
                        {
                            <li><a href="javascript:;" data-tab="@nav.KeyId" data-text="@nav.FullName" data-url="@nav.NavigateUrl" addtab>@nav.FullName</a></li>
                        }
                    </ul>
                </li>
            }
        </ul>

    </div>
    <div jepane="center" class="je-admin-center" tabpane>
    </div>
    <div jepane="right" class="je-admin-right">right</div>
    <div jepane="bottom" class="je-admin-bottom"><p>2017 © jayui.com MIT license</p></div>
    <script src="~/Content/jeui/js/modules/jeui.js"></script>
    <script type="text/javascript">
        jeui.use(["jquery", "jeBox", "jeLayout", "jeTabPane", "jeAccordion"], function () {
            //Layout面板布局
            $("body").jeLayout();
            $("#myTabNav").find("li").on("click", function () {
                $(this).addClass('curr').siblings().removeClass('curr');
            });
            //折叠菜单
            $(".je-admin-menu").jeAccordion({
                accIndex: 0,
                titCell: "h3",
                conCell: "ul",
                multiple: false,
                success: function (titelem, conelem) {
                    //给菜单绑定事件
                    conelem.children().on("click", function () {
                        conelem.children().removeClass("current");
                        $(this).addClass("current");
                    });
                }
            });
            //addtabs
            $("[tabpane]").jeTabPane({
                firstItem: {                              //默认首页
                    tab: "main",
                    text: "后台首页",
                    url: "/Admin/Main/Main",
                    closable: false
                }
            });
            //选择根菜单展示一级菜单
            $("#myTabNav>li").click(function () {
                var id = $(this).attr("id");
                $("#myTabNav2>li").hide();
                $("#myTabNav2>li[pid='" + id + "']").show();
            });

            if ($("#myTabNav>li").length > 0) {
                $("#myTabNav>li:eq(0)").click();
            }
        });
    </script>
</body>
</html>
