@using MyFrameCore.Model
@model Tuple<List<sys_menu>, List<sys_menubutton>, List<sys_button>>
@{
    //菜单
    var RootList = Model.Item1.Where(item => item.IsRoot == true).ToList();
    var TempList1 = new List<MyFrameCore.Model.sys_menu>();
    var TempList2 = new List<MyFrameCore.Model.sys_menu>();
    //按钮
    var TempList3 = new List<MyFrameCore.Model.sys_menubutton>();
    var ButtonModel = new sys_button();
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>分配权限</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/Content/jeui/css/jeui.css" media="all">
    <link rel="stylesheet" href="/Content/jeui/css/skin/jebox.css" media="all">
    <link rel="stylesheet" href="/Content/jeui/css/skin/jedate.css" media="all">
    <link href="~/Content/font-awesome/css/font-awesome.css" rel="stylesheet" />
</head>
<body>
    <input type="hidden" id="RoleId" value="@ViewBag.KeyId" />
    <div class="je-p20" id="divper">
        <div style="margin-bottom:20px;">
            <input id="chkAll" type="checkbox" name="checkbox" jename="checkbox" jetext="全选/取消">
        </div>
        <table class="je-table je-mb20" skin="leftline" even>
            <thead>
                <tr>
                    <th width="120">顶部菜单</th>
                    <th width="120">一级菜单</th>
                    <th width="120">二级菜单</th>
                    <th>操作按钮</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in RootList)
                {//根菜单
                    <tr>
                        <td><input ismenu="true" chkid="@item.KeyId" type="checkbox" name="checkbox" jename="checkbox" jetext="@item.FullName"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    TempList1 = Model.Item1.Where(x => x.ParentId == item.KeyId).ToList();
                    foreach (var x in TempList1)
                    {//一级菜单
                        <tr>
                            <td></td>
                            <td><input ismenu="true" chkid="@x.KeyId" pid="@x.ParentId" type="checkbox" name="checkbox" jename="checkbox" jetext="@x.FullName"></td>
                            <td></td>
                            <td></td>
                        </tr>
                        TempList2 = Model.Item1.Where(y => y.ParentId == x.KeyId).ToList();
                        foreach (var y in TempList2)
                        {//二级菜单
                            TempList3 = Model.Item2.Where(z => z.MenuId == y.KeyId).OrderBy(z => z.ButtonId).ToList();
                            <tr>
                                <td></td>
                                <td></td>
                                <td><input ismenu="true" chkid="@y.KeyId" pid="@y.ParentId" type="checkbox" name="checkbox" jename="checkbox" jetext="@y.FullName"></td>
                                <td>
                                    @foreach (var z in TempList3)
                                    {//操作按钮
                                        ButtonModel = Model.Item3.FirstOrDefault<sys_button>(b => b.KeyId == z.ButtonId);
                                        if (ButtonModel != null)
                                        {
                                            <input ismenu="false" chkid="@z.ButtonId" pid="@z.MenuId" type="checkbox" name="checkbox" jename="checkbox" jetext="@ButtonModel.FullName">
                                        }
                                    }

                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>

        <button class="je-btn je-f14" onclick="Save(this)"><i class="aweicon aweicon-save">&nbsp;</i>保 存</button>

    </div>
    <script type="text/javascript" src="/Content/jeui/js/modules/jeui.js"></script>
    <script type="text/javascript">
        var index = parent.jeBox.frameIndex(window.name);
        jeui.use(["jquery", "jeBox", "jeCheck"], function () {
            //$("#tableper").jeCheck();
            $("#divper").jeCheck({ jename: "checkbox" });
            //全选、取消
            $("#chkAll").click(function () {
                var checked = $(this).prop("checked");
                $("input[type=checkbox]").each(function () {
                    $("input[type=checkbox]").prop("checked", checked);
                    if (checked) {
                        $(this).parent().addClass("on");
                    }
                    else {
                        $(this).parent().removeClass("on");
                    }
                });
            });

            $("input[type=checkbox]").click(function () {
                ChoiceParent($(this));
                CancelChild($(this));
            });
            //绑定角色权限
            $.getJSON("/Admin/Role/GetPermissions", { RoleId: $("#RoleId").val() }, function (data) {
                if (data != null) {
                    //菜单
                    for (var i = 0; i < data.RoleMenuList.length; i++) {
                        $("input[chkid=" + data.RoleMenuList[i].MenuId + "][ismenu=true]").prop("checked", true);
                        $("input[chkid=" + data.RoleMenuList[i].MenuId + "][ismenu=true]").parent().addClass("on");
                    }
                    //按钮
                    for (var i = 0; i < data.RoleMenuButtonList.length; i++) {
                        $("input[chkid=" + data.RoleMenuButtonList[i].ButtonId + "][pid=" + data.RoleMenuButtonList[i].MenuId + "]").prop("checked", true);
                        $("input[chkid=" + data.RoleMenuButtonList[i].ButtonId + "][pid=" + data.RoleMenuButtonList[i].MenuId + "]").parent().addClass("on");
                    }
                }
            });
        })

        //递归选择父级
        function ChoiceParent(obj) {
            if (obj.prop("checked")) {
                var id = obj.attr("pid");
                if (id != undefined) {
                    $("input[chkid=" + id + "]").prop("checked", true);
                    $("input[chkid=" + id + "]").parent().addClass("on");
                    ChoiceParent($("input[chkid=" + id + "]"));
                }

            }
        }
        //递归取消子级
        function CancelChild(obj) {
            if (!obj.prop("checked")) {
                var id = obj.attr("chkid");
                if (id != undefined) {
                    $("input[pid='" + id + "']").prop("checked", false);
                    $("input[pid='" + id + "']").parent().removeClass("on");
                    CancelChild($("input[pid='" + id + "']"));
                }

            }
        }

        function Save(obj) {
            var menuids = '';
            var buttonids = '';
            $("input[type=checkbox]:checked").not("#chkAll").each(function () {
                if ($(this).attr("ismenu") == "true") {
                    menuids += $(this).attr("chkid") + ",";
                }
                else {
                    buttonids += $(this).attr("chkid") + "|" + $(this).attr("pid") + ",";
                }
            });

            $(obj).prop("disabled", true);
            $.ajax({
                url: "/Admin/Role/Save",
                type: "post",
                data: {
                    MenuIds: menuids,
                    ButtonIds: buttonids,
                    RoleId: $("#RoleId").val()
                },
                success: function (result) {
                    if (result.Result) {
                        jeBox.msg("保存成功", { icon: 2, time: 2 });
                        setTimeout(function () { parent.jeBox.close(index) }, 2000);
                        return;
                    }
                    jeBox.msg("保存失败");
                },
                async: false
            });
            $(obj).prop("disabled", false);
        }
    </script>
</body>
</html>